<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Form</title>
</head>
<body>

    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-light">
        <div class="card shadow-sm p-4" style="width: 95%; background-color: white; border-radius: 10px;">
            <h1>Training From</h1>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Training Name</label>
                    <input type="text" class="form-control" id="trainingName" placeholder="Training Name" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Trainer</label>
                    <input type="text" class="form-control" id="trainer" placeholder="Trainer">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Start Date</label>
                    <input type="date" class="form-control" placeholder="Start Date" id="startDate">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="text" class="form-control" placeholder="Description" id="description">
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>

</body>
</html>