<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="pForm">

            <h2 class="titleForm">Personal Form</h2>

            <form action="">

                <div class="formChildren">
                    <label for="firstName" class="lable">First Name:</label>
                    <input type="text" id="firstName" placeholder="First Name" class="inputClass">
                </div>

                <div class="formChildren">
                    <label for="lastName" class="lable">Last Name:</label>
                    <br>
                    <input type="text" id="lastName" placeholder="Last Name" class="inputClass">
                </div>

                <div class="formChildren">
                    <label for="email" class="lable">Email:</label>
                    <input type="text" id="email" placeholder="Email" class="inputClass">
                </div>

                <div class="formChildren">
                    <label for="date" class="lable">Date:</label>
                    <input type="date" id="date" class="inputClass">
                </div>

                <div class="formChildren">
                    <input type="submit" value="Add" class="buttonForm">
                </div>

            </form>

        </div>
</body>
</html>



